--extra-index-url https://download.pytorch.org/whl/cu121
torch
torchvision
torchaudio
fastapi
uvicorn
streamlit
pymupdf
python-docx
beautifulsoup4
sentence-transformers
faiss-cpu
requests
pytest
langgraph
langchain-core
pydantic
python-multipart
langchain-text-splitters
qdrant-client
aiohttp
tiktoken
tenacity
python-dotenv
playwright
